Repository talolard/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-lfs-webp, stylelint

enforce-lfs-webp:
  name: Ensure WebP files use Git LFS
  entry: python scripts/enforce_lfs_webp.py
  language: python

stylelint:
  name: stylelint (scss)
  entry: npx stylelint
  language: node
  additional_dependencies:
  - stylelint@16.11.0
  - stylelint-config-standard-scss@13.0.0

Add Playwright UI tests and i18n fixes
  .beads/formulas/ui-playwright-task.formula.json
  .beads/issues.jsonl
  .github/workflows/playwright.yaml
  assets/scss/layout/_header.scss
  assets/scss/utilities/_rtl.scss
  content/adxs-search.md
  content/contact.de.md
  content/contact.he.md
  content/contact.md
  docs/plans/2_ui_feedback.md
  hugo.toml
  i18n/de.toml
  i18n/en.toml
  i18n/he.toml
  layouts/baseof.html
  layouts/partials/footer.html
  layouts/partials/head.html
  layouts/partials/header.html
  layouts/shortcodes/lang.html
  tests/playwright/README.md
  tests/playwright/package.toml
  tests/playwright/pyproject.toml
  tests/playwright/tests/__pycache__/conftest.cpython-312-pytest-9.0.2.pyc
  tests/playwright/tests/__pycache__/helpers.cpython-312.pyc
  tests/playwright/tests/__pycache__/test_language_switcher.cpython-312-pytest-9.0.2.pyc
  tests/playwright/tests/__pycache__/test_metadata.cpython-312-pytest-9.0.2.pyc
  tests/playwright/tests/__pycache__/test_rtl_layout.cpython-312-pytest-9.0.2.pyc
  tests/playwright/tests/__pycache__/test_site.cpython-312-pytest-9.0.2.pyc
  tests/playwright/tests/__pycache__/test_ux_basics.cpython-312-pytest-9.0.2.pyc
  tests/playwright/tests/conftest.py
  tests/playwright/tests/helpers.py
  tests/playwright/tests/test_language_switcher.py
  tests/playwright/tests/test_metadata.py
  tests/playwright/tests/test_rtl_layout.py
  tests/playwright/tests/test_ux_basics.py
  tests/playwright/uv.lock
Due: stylelint

Document Playwright test infrastructure
  AGENTS.md
Due: none

fix uv
  tests/playwright/uv.lock
Due: none

Fix RTL code blocks in Hebrew
  assets/scss/utilities/_rtl.scss
  tests/playwright/tests/test_rtl_layout.py
Due: stylelint

Improve mobile article layout and guard TOC overflow
  assets/scss/utilities/_media-queries.scss
  tests/playwright/tests/test_article_toc_mobile.py
Due: stylelint

Improve mobile article layout and guard TOC overflow (#4)
  assets/scss/utilities/_media-queries.scss
  tests/playwright/tests/test_article_toc_mobile.py
Due: stylelint

Add 'Learning to Read with AI' post with dropcap shortcode
  assets/scss/components/_article.scss
  assets/scss/utilities/_media-queries.scss
  content/posts/genai/learning-to-read-with-ai/hero.webp
  content/posts/genai/learning-to-read-with-ai/index.md
  content/posts/genai/learning-to-read-with-ai/learning_progress.webp
  content/posts/genai/learning-to-read-with-ai/session.webp
  layouts/shortcodes/dropcap.html
  scripts/convert_to_webp.py
Due: enforce-lfs-webp, stylelint

Fix dropcap popover showing in Safari Reader Mode
  assets/scss/components/_article.scss
  layouts/shortcodes/dropcap.html
Due: stylelint

new post
  assets/scss/components/_article.scss
  content/posts/genai/engineering-agents-building-trust/hero.png
  content/posts/genai/engineering-agents-building-trust/index.md
Due: stylelint

Implement social metadata validation and share pack workflow
  AGENTS.md
  Makefile
  archetypes/default.md
  content/posts/classics/cmft/index.de.md
  content/posts/classics/cmft/index.he.md
  content/posts/classics/cmft/index.md
  content/posts/classics/cmft/share.toml
  content/posts/classics/cmft/social.png
  content/posts/classics/dlsm/index.de.md
  content/posts/classics/dlsm/index.he.md
  content/posts/classics/dlsm/index.md
  content/posts/classics/dlsm/share.toml
  content/posts/classics/dlsm/social.png
  content/posts/genai/engineering-agents-building-trust/index.md
  content/posts/genai/engineering-agents-building-trust/share.toml
  content/posts/genai/engineering-agents-building-trust/social.png
  content/posts/genai/learning-to-read-with-ai/index.md
  content/posts/genai/learning-to-read-with-ai/share.toml
  content/posts/genai/learning-to-read-with-ai/social.png
  content/posts/genai/triton-inference-server/index.de.md
  content/posts/genai/triton-inference-server/index.he.md
  content/posts/genai/triton-inference-server/index.md
  content/posts/genai/triton-inference-server/share.toml
  content/posts/genai/triton-inference-server/social.png
  content/posts/scripture-app/index.de.md
  content/posts/scripture-app/index.he.md
  content/posts/scripture-app/index.md
  content/posts/scripture-app/share.toml
  content/posts/scripture-app/social.png
  docs/social_share_pack.md
  hugo.toml
  layouts/partials/head.html
  layouts/partials/social_image.html
  scripts/validate_share_pack.py
  scripts/validate_social_meta.py
  static/og/default.png
  tests/playwright/tests/test_metadata.py
Due: none

Run social/share validators in CI
  .github/workflows/playwright.yaml
Due: none

Fix mobile header overflow in narrow viewports
  assets/scss/utilities/_media-queries.scss
Due: stylelint

Implement social preview metadata and share-pack validation (#5)
  .github/workflows/playwright.yaml
  AGENTS.md
  Makefile
  archetypes/default.md
  assets/scss/utilities/_media-queries.scss
  content/posts/classics/cmft/index.de.md
  content/posts/classics/cmft/index.he.md
  content/posts/classics/cmft/index.md
  content/posts/classics/cmft/share.toml
  content/posts/classics/cmft/social.png
  content/posts/classics/dlsm/index.de.md
  content/posts/classics/dlsm/index.he.md
  content/posts/classics/dlsm/index.md
  content/posts/classics/dlsm/share.toml
  content/posts/classics/dlsm/social.png
  content/posts/genai/engineering-agents-building-trust/index.md
  content/posts/genai/engineering-agents-building-trust/share.toml
  content/posts/genai/engineering-agents-building-trust/social.png
  content/posts/genai/learning-to-read-with-ai/index.md
  content/posts/genai/learning-to-read-with-ai/share.toml
  content/posts/genai/learning-to-read-with-ai/social.png
  content/posts/genai/triton-inference-server/index.de.md
  content/posts/genai/triton-inference-server/index.he.md
  content/posts/genai/triton-inference-server/index.md
  content/posts/genai/triton-inference-server/share.toml
  content/posts/genai/triton-inference-server/social.png
  content/posts/scripture-app/index.de.md
  content/posts/scripture-app/index.he.md
  content/posts/scripture-app/index.md
  content/posts/scripture-app/share.toml
  content/posts/scripture-app/social.png
  docs/social_share_pack.md
  hugo.toml
  layouts/partials/head.html
  layouts/partials/social_image.html
  scripts/validate_share_pack.py
  scripts/validate_social_meta.py
  static/og/default.png
  tests/playwright/tests/test_metadata.py
Due: stylelint

Harden technical SEO checks and fix social image mapping
  Makefile
  content/posts/classics/cmft/social.png
  content/posts/classics/dlsm/social.png
  content/posts/genai/engineering-agents-building-trust/social.png
  content/posts/genai/learning-to-read-with-ai/social.png
  content/posts/scripture-app/social.png
  docs/social_share_pack.md
  layouts/partials/head.html
  scripts/validate_social_meta.py
  scripts/validate_technical_seo.py
  static/404.html
  static/robots.txt
  tests/playwright/tests/test_metadata.py
Due: none

bd init: initialize beads issue tracking
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-commit
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .claude/settings.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

Revert "bd init: initialize beads issue tracking"
  .beads/.gitignore
  .beads/hooks/post-checkout
  .beads/hooks/post-commit
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .claude/settings.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

Add Modal vision model post and site metadata
  AGENTS.md
  assets/scss/_extra.scss
  assets/scss/components/_article.scss
  content/posts/genai/vibe-coding-stablenormal-modal/index.md
  content/posts/genai/vibe-coding-stablenormal-modal/share.toml
  content/posts/genai/vibe-coding-stablenormal-modal/social.png
  content/posts/gtsam/index.md
  hugo.toml
  i18n/de.toml
  i18n/en.toml
  i18n/he.toml
  layouts/404.html
  layouts/partials/head.html
  tests/playwright/tests/test_article_toc_mobile.py
Due: stylelint

Make LightTag archive tests CI-portable
  tests/playwright/pyproject.toml
  tests/playwright/tests/test_lighttag_archive.py
  tests/playwright/uv.lock
Due: none

Add Medium archive migration plan
  docs/plans/5_import_medium_posts.md
Due: none

Restore LightTag redirects
  AGENTS.md
  Makefile
  README.md
  docs/plans/4_restore_lighttag_redirects.md
  infra/lighttag-redirects/README.md
  infra/lighttag-redirects/template.yaml
  infra/lighttag-redirects/test_validate.py
  infra/lighttag-redirects/validate.py
  scripts/submit_indexnow.py
  scripts/test_submit_indexnow.py
  static/indexnow-key.txt
Due: none

Record LightTag search migration
  docs/plans/4_restore_lighttag_redirects.md
Due: none

Add compact design review artifacts
  docs/design-review-2026-08-30/README.md
  docs/design-review-2026-08-30/images/after/archive-desktop.jpg
  docs/design-review-2026-08-30/images/after/article-desktop.jpg
  docs/design-review-2026-08-30/images/after/home-desktop.jpg
  docs/design-review-2026-08-30/images/after/home-mobile.jpg
  docs/design-review-2026-08-30/images/alternative-cool-compact/archive-desktop.jpg
  docs/design-review-2026-08-30/images/alternative-cool-compact/article-desktop.jpg
  docs/design-review-2026-08-30/images/alternative-cool-compact/home-desktop.jpg
  docs/design-review-2026-08-30/images/alternative-cool-compact/home-mobile.jpg
  docs/design-review-2026-08-30/images/before/archive-desktop.jpg
  docs/design-review-2026-08-30/images/before/article-desktop.jpg
  docs/design-review-2026-08-30/images/before/home-desktop.jpg
  docs/design-review-2026-08-30/images/before/home-mobile.jpg
  docs/design-review-2026-08-30/prototype-v2/archive.html
  docs/design-review-2026-08-30/prototype-v2/article.html
  docs/design-review-2026-08-30/prototype-v2/home.html
  docs/design-review-2026-08-30/prototype-v2/styles.css
  docs/design-review-2026-08-30/prototype/archive.html
  docs/design-review-2026-08-30/prototype/article.html
  docs/design-review-2026-08-30/prototype/home.html
  docs/design-review-2026-08-30/prototype/styles.css
Due: none

Add editorial art for The AI-Powered 10-Minute Habit That Taught My Kid to Read (And Made Me a Better Dad)
  content/posts/genai/learning-to-read-with-ai/art.toml
  content/posts/genai/learning-to-read-with-ai/hero-desktop.webp
  content/posts/genai/learning-to-read-with-ai/hero-mobile.webp
  content/posts/genai/learning-to-read-with-ai/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for Five Practical Lessons for Serving Models with Triton Inference Server
  content/posts/genai/triton-inference-server/art.toml
  content/posts/genai/triton-inference-server/hero-desktop.webp
  content/posts/genai/triton-inference-server/hero-mobile.webp
  content/posts/genai/triton-inference-server/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for Engineering Agents is really UX Engineering
  content/posts/genai/engineering-agents-building-trust/art.toml
  content/posts/genai/engineering-agents-building-trust/hero-desktop.webp
  content/posts/genai/engineering-agents-building-trust/hero-mobile.webp
  content/posts/genai/engineering-agents-building-trust/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for I Needed One Obscure Vision Model. Modal Made It Everyone Else’s Problem.
  content/posts/genai/vibe-coding-stablenormal-modal/art.toml
  content/posts/genai/vibe-coding-stablenormal-modal/hero-desktop.webp
  content/posts/genai/vibe-coding-stablenormal-modal/hero-mobile.webp
  content/posts/genai/vibe-coding-stablenormal-modal/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for I’m Not the Founder This App Deserves
  content/posts/scripture-app/art.toml
  content/posts/scripture-app/hero-desktop.webp
  content/posts/scripture-app/hero-mobile.webp
  content/posts/scripture-app/thumbnail.webp
Due: enforce-lfs-webp

Localize editorial image descriptions
  content/posts/genai/triton-inference-server/art.toml
  content/posts/scripture-app/art.toml
  data/editorial_posts.toml
  tools/editorial-images/src/editorial_images/content.py
  tools/editorial-images/src/editorial_images/manifest.py
  tools/editorial-images/src/editorial_images/models.py
Due: none

Log editorial image generation progress
  tools/editorial-images/README.md
  tools/editorial-images/src/editorial_images/cli.py
  tools/editorial-images/src/editorial_images/limits.py
  tools/editorial-images/src/editorial_images/runner.py
Due: none

Add personal editorial scene planner
  docs/plans/7_personal_editorial_scene_planner.md
  me1.jpeg
  me2.jpeg
  tools/editorial-images/README.md
  tools/editorial-images/pyproject.toml
  tools/editorial-images/src/editorial_images/cli.py
  tools/editorial-images/src/editorial_images/content.py
  tools/editorial-images/src/editorial_images/gitops.py
  tools/editorial-images/src/editorial_images/manifest.py
  tools/editorial-images/src/editorial_images/models.py
  tools/editorial-images/src/editorial_images/planner.py
  tools/editorial-images/src/editorial_images/prompting.py
  tools/editorial-images/src/editorial_images/runner.py
  tools/editorial-images/src/editorial_images/scene.py
  tools/editorial-images/tests/test_concurrency.py
  tools/editorial-images/tests/test_content_manifest.py
  tools/editorial-images/uv.lock
Due: none

Add editorial art for I’m Not the Founder This App Deserves
  content/posts/scripture-app/art.toml
  content/posts/scripture-app/hero-desktop.webp
  content/posts/scripture-app/hero-mobile.webp
  content/posts/scripture-app/scene-plan.json
  content/posts/scripture-app/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for Engineering Agents is really UX Engineering
  content/posts/genai/engineering-agents-building-trust/art.toml
  content/posts/genai/engineering-agents-building-trust/hero-desktop.webp
  content/posts/genai/engineering-agents-building-trust/hero-mobile.webp
  content/posts/genai/engineering-agents-building-trust/scene-plan.json
  content/posts/genai/engineering-agents-building-trust/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for The AI-Powered 10-Minute Habit That Taught My Kid to Read (And Made Me a Better Dad)
  content/posts/genai/learning-to-read-with-ai/art.toml
  content/posts/genai/learning-to-read-with-ai/hero-desktop.webp
  content/posts/genai/learning-to-read-with-ai/hero-mobile.webp
  content/posts/genai/learning-to-read-with-ai/scene-plan.json
  content/posts/genai/learning-to-read-with-ai/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for I Needed One Obscure Vision Model. Modal Made It Everyone Else’s Problem.
  content/posts/genai/vibe-coding-stablenormal-modal/art.toml
  content/posts/genai/vibe-coding-stablenormal-modal/hero-desktop.webp
  content/posts/genai/vibe-coding-stablenormal-modal/hero-mobile.webp
  content/posts/genai/vibe-coding-stablenormal-modal/scene-plan.json
  content/posts/genai/vibe-coding-stablenormal-modal/thumbnail.webp
Due: enforce-lfs-webp

Add editorial art for Five Practical Lessons for Serving Models with Triton Inference Server
  content/posts/genai/triton-inference-server/art.toml
  content/posts/genai/triton-inference-server/hero-desktop.webp
  content/posts/genai/triton-inference-server/hero-mobile.webp
  content/posts/genai/triton-inference-server/scene-plan.json
  content/posts/genai/triton-inference-server/thumbnail.webp
Due: enforce-lfs-webp

Clean stale editorial review artifacts
  tools/editorial-images/src/editorial_images/review.py
Due: none

Add editorial art for Fast NLP Model Pretraining With VAMPIRE
  content/posts/lighttag/fast-nlp-pretraining-with-vampire/art.toml
  content/posts/lighttag/fast-nlp-pretraining-with-vampire/hero-desktop.webp
  content/posts/lighttag/fast-nlp-pretraining-with-vampire/hero-mobile.webp
  content/posts/lighttag/fast-nlp-pretraining-with-vampire/scene-plan.json
  content/posts/lighttag/fast-nlp-pretraining-with-vampire/thumbnail.webp
Due: enforce-lfs-webp

Path conditions:
  enforce-lfs-webp: any of: .*\.webp$
  stylelint: any of: assets/scss/.*\.(css|scss)$ and \.css$, \.scss$
